/* Set up */
    body {
        background-color:black;
        color:white;
        margin: 0px;
        padding: 0px;
        font-size: 20px;
        line-height: 21px;}

    div { 
        box-sizing: border-box;}

    img { 
        width:100%;}

@font-face {
    font-family:'mother';
    src:url('mothercode.woff');}

@font-face {
    font-family:'crux';
    src:url('crux.woff');}

    @font-face {
        font-family:'alugu';
        src:url('alugu.woff');}

/* typography (fonts + sizes) */
    div.title{
        font-size: 80px;
        line-height: 80px;
        font-family:'alugu';
        text-align: center;

    }

    div.name{
        font-size: 60px;
        line-height: 60px;
        margin-left: auto;
        margin-right: auto;
        font-family:'crux';
    }

    div.body{
        font-size: 24px;
        line-height: 25px;
        text-justify:auto;
        font-family:'crux';
    }

    div.caption{
        font-size: 18px;
        line-height: 18px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

/* text colours */
    div.textwhite{
        color:white
    }
    
    div.textblue{
        color:darkblue
    }
    
    div.textpink{
        color:rgb(158, 2, 98)
    }

    div.textgreen{
        color:darkgreen;
    }

    div.textred{
        color:darkred;
    }


/* bg colours */
    div.bgpink{
        background-color: palevioletred;
    }

    div.bgblue{
        background-color:cornflowerblue
    }

    div.bggreen{
        background-color:mediumseagreen;
    }

    div.bgred{
        background-color: tomato;
    }

/* widths */
    div.w100{
        width: 100%;}

    div.w50{
        width: 50%;}


/* padding */
    div.pbottom{
        padding-bottom:15px;}
    
    div.ptop{
        padding-top:15px}

    div.pleft{
        padding-left: 10px;
    }


/* design */
    div.container{
        display: flex;
        flex-wrap: wrap;
    }

    div.page{
        height:100vh;
        overflow-y: scroll;
    }

    div.page::-webkit-scrollbar{
        width: 10px;
    }
       
      div.page::-webkit-scrollbar-track {
        background-color: black;
    }
       
      div.page::-webkit-scrollbar-thumb {
        background-color: rgb(20, 20, 20);
    }

    div.rightbox{
        width:auto;
        height:auto;
        padding:30px;
        border-radius: 60px 60px 0px 0px;
    }

    div.leftbox{
        width:auto;
        height:auto;
        padding:30px;
        border-radius: 0px 0px 60px 60px;
    }